<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Billing</title>
</head>

<body>
<header class="primary-header container group">
    <section class="container">
        <h1 class="logo">
            <a href="index.html">Phone Bill</a>
        </h1>
    </section>

    <nav class="nav primary-nav">
        <a class="btn btn-alt btn-hero" href="#">Purchase</a>
        <a class="btn btn-alt btn-hero" href="#">Billing</a>
        <a class="btn btn-alt btn-hero" href="#">Add</a>
    </nav>


</header>



<section class="row">
    <div class="grid">
        <h2>Add Beneficiary</h2>

        <form action="/add" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="number">Number:</label>
            <input type="text" id="number" name="number"><br><br>

            <input class="btn btn-alt btn-hero" type="submit" value="Submit">
        </form>

    </div>
</section>

<footer class="primary-footer container group">
    <small>&copy; T&J'S</small>
</footer>
</body>

</html>