<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/dash.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Billing</title>
</head>

<body>
	<header class="primary-header container group">
		<section class="container">
			<h1 class="logo">
				<a href="index.html">Phone Bill</a>
			</h1>
		</section>

		<nav class="nav primary-nav">
            <a class="btn btn-alt btn-hero" href="/dashboard/purchase">Purchase</a>
		    <a class="btn btn-alt btn-hero" href="#">Billing</a>
            <a class="btn btn-alt btn-hero" href="/dashboard/add">Add</a>
            <a class="btn btn-alt btn-hero" href="/dashboard/delete">delete</a>
		</nav>


	</header>



	<section class="row">
		<div class="grid">
            <h2>Beneficiary</h2>
            

        {{#each greeted}}
            <ul>
                <li>
                <p id="ben-name">{{this}}</p>
                </li>
            </ul>
        {{/each}}

	
		</div>
	</section>

<footer class="primary-footer container group">
    <small>&copy; T&J'S</small>
</footer>
</body>

</html>